/* FEATURES styles */

#features{
	padding: 120px 0px 20px 0px;
}
#features .row{
	margin-bottom: 100px
}
.icon{
	font-size: 3.75rem;
	color:#e84545;
}
.feature-content{
	margin-top: 30px;
	font-size: 0.875rem;
}
.feature-content h5{
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.feature-content p{
	line-height: 1.375rem;
	color: #6c7279;
}