/* GRID styles */

/* Change box width algoritm to border-box */
*{
	box-sizing: border-box;
}

/* Define container width */
.container{
	width: 90%;
	margin: 0 auto;
	padding-left: 30px;
}

/* Add clearfix to row */
.row:after{
	display: block;
	content:".";
	height: 0;
	visibility: hidden;
	clear: both;
}

/* Grid */


.span-half{width: 50%; float: left;}
.span-quarter{width: 25%;float: left;}

/* Last column in row without margin */

/* Offset styles */
.span1 {width: 8.33%; float:left; display: inline; padding-right: 30px;}
.span2 {width: 16.66%; float:left; display: inline; padding-right: 30px;}
.span3 {width: 25%; float:left; display: inline; padding-right: 30px;}
.span4 {width: 33.33%; float:left; display: inline; padding-right: 30px;}
.span5 {width: 41.66%; float:left; display: inline; padding-right: 30px;}
.span6 {width: 50%; float:left; display: inline; padding-right: 30px;}
.span7 {width: 58.33%; float:left; display: inline; padding-right: 30px;}
.span8 {width: 66.66%; float:left; display: inline; padding-right: 30px;}
.span9 {width: 75%; float:left; display: inline; padding-right: 30px;}
.span10{width: 83.33%; float:left; display: inline; padding-right: 30px;}
.span11{width: 91.66%; float:left; display: inline; padding-right: 30px;}
.span12{width: 100%; float:left; display: inline; padding-right: 30px;}

.span-offset1 {margin-left: 8.33%}
.span-offset2 {margin-left: 16.66%}
.span-offset3 {margin-left: 25%;} 
.span-offset4 {margin-left: 33.33%}
.span-offset5 {margin-left: 41.66%}
.span-offset6 {margin-left: 50%;} 
.span-offset7 {margin-left: 58.33%}
.span-offset8 {margin-left: 66.66%}
.span-offset9 {margin-left: 75%;} 
.span-offset10{margin-left: 83.33%;}
.span-offset11{margin-left: 91.66%;}
.span-offset12{margin-left: 100%;}

