/* GRID styles */

/* Change box width algoritm to border-box */
*{
	box-sizing: border-box;
}

/* Define container width */
.container{
	width: 90%;
	margin: 0 auto;
	padding-left: 30px;
}

/* Add clearfix to row */
.row:after{
	display: block;
	content:".";
	height: 0;
	visibility: hidden;
	clear: both;
}

/* Grid */


.span-half{width: 50%; float: left;}
.span-quarter{width: 25%;float: left;}

/* Last column in row without margin */

/* Offset styles */
.span1 {width: 8.33%; float:left; display: inline; padding-right: 30px;}
.span2 {width: 16.66%; float:left; display: inline; padding-right: 30px;}
.span3 {width: 25%; float:left; display: inline; padding-right: 30px;}
.span4 {width: 33.33%; float:left; display: inline; padding-right: 30px;}
.span5 {width: 41.66%; float:left; display: inline; padding-right: 30px;}
.span6 {width: 50%; float:left; display: inline; padding-right: 30px;}
.span7 {width: 58.33%; float:left; display: inline; padding-right: 30px;}
.span8 {width: 66.66%; float:left; display: inline; padding-right: 30px;}
.span9 {width: 75%; float:left; display: inline; padding-right: 30px;}
.span10{width: 83.33%; float:left; display: inline; padding-right: 30px;}
.span11{width: 91.66%; float:left; display: inline; padding-right: 30px;}
.span12{width: 100%; float:left; display: inline; padding-right: 30px;}

.span-offset1 {margin-left: 8.33%}
.span-offset2 {margin-left: 16.66%}
.span-offset3 {margin-left: 25%;} 
.span-offset4 {margin-left: 33.33%}
.span-offset5 {margin-left: 41.66%}
.span-offset6 {margin-left: 50%;} 
.span-offset7 {margin-left: 58.33%}
.span-offset8 {margin-left: 66.66%}
.span-offset9 {margin-left: 75%;} 
.span-offset10{margin-left: 83.33%;}
.span-offset11{margin-left: 91.66%;}
.span-offset12{margin-left: 100%;}

@media screen and (max-width: 768px){
	.span-lg-1 {width: 8.33%; float:left; display: inline; padding-right: 30px;}
	.span-lg-2 {width: 16.66%; float:left; display: inline; padding-right: 30px;}
	.span-lg-3 {width: 25%; float:left; display: inline; padding-right: 30px;}
	.span-lg-4 {width: 33.33%; float:left; display: inline; padding-right: 30px;}
	.span-lg-5 {width: 41.66%; float:left; display: inline; padding-right: 30px;}
	.span-lg-6 {width: 50%; float:left; display: inline; padding-right: 30px;}
	.span-lg-7 {width: 58.33%; float:left; display: inline; padding-right: 30px;}
	.span-lg-8 {width: 66.66%; float:left; display: inline; padding-right: 30px;}
	.span-lg-9 {width: 75%; float:left; display: inline; padding-right: 30px;}
	.span-lg-10{width: 83.33%; float:left; display: inline; padding-right: 30px;}
	.span-lg-11{width: 91.66%; float:left; display: inline; padding-right: 30px;}
	.span-lg-12{width: 100%; float:left; display: inline; padding-right: 30px;}

	.span-lg-half{width: 50%;}
}
/*
@media screen and (max-width: 1170px){
	.span-lg-half{
		width: 50%;
	}
	.span-lg-6{
		width: 50%;
	}
}
/* Media queries */
/*

@media screen and (max-width: 1170px){
	.container{width: 940px;}
	.span-lg-1 {width: 60px; float:left; display: inline; margin-right: 20px;}
	.span-lg-2 {width: 140px; float:left; display: inline; margin-right: 20px;}
	.span-lg-3 {width: 220px; float:left; display: inline; margin-right: 20px;}
	.span-lg-4 {width: 300px; float:left; display: inline; margin-right: 20px;}
	.span-lg-5 {width: 380px; float:left; display: inline; margin-right: 20px;}
	.span-lg-6 {width: 460px; float:left; display: inline; margin-right: 20px;}
	.span-lg-7 {width: 540px; float:left; display: inline; margin-right: 20px;}
	.span-lg-8 {width: 620px; float:left; display: inline; margin-right: 20px;}
	.span-lg-9 {width: 700px; float:left; display: inline; margin-right: 20px;}
	.span-lg-10{width: 780px; float:left; display: inline; margin-right: 20px;}
	.span-lg-11{width: 860px; float:left; display: inline; margin-right: 20px;}
	.span-lg-12{width: 940px; float:left; display: inline; margin-right: 20px;}

	.span-offset1 {margin-left: 80px;}
	.span-offset2 {margin-left: 160px;}
	.span-offset3 {margin-left: 240px;}
	.span-offset4 {margin-left: 320px;}
	.span-offset5 {margin-left: 400px;}
	.span-offset6 {margin-left: 480px;}
	.span-offset7 {margin-left: 560px;}
	.span-offset8 {margin-left: 640px;}
	.span-offset9 {margin-left: 720px;}
	.span-offset10{margin-left: 800px;}
	.span-offset11{margin-left: 880px;}
	.span-offset12{margin-left: 940px;}

	.span-lg-6:nth-child(2n){margin-right: 0}

	.span-lg-half{width: 50%; float: left;}
}
@media screen and (max-width: 1024px){
	.container{width: 900px;}
}
@media screen and (max-width: 768px){
	.container{width: 700px;}
}
@media screen and (max-width: 480px){
	.container{width: 100%;}
}
@media screen and (max-width: 320px){
	.container{width: 100%;}
}
