/* GRID styles */

/* Change box width algoritm to border-box */
*{
	box-sizing: border-box;
}

/* Define container width */
.container{
	width: 1170px;
	margin: 0 auto;
}

/* Add clearfix to row */
.row:after{
	display: block;
	content:".";
	height: 0;
	visibility: hidden;
	clear: both;
}

/* Grid */
.span1 {width: 70px; float:left; display: inline; margin-right: 30px;}
.span2 {width: 170px; float:left; display: inline; margin-right: 30px;}
.span3 {width: 270px; float:left; display: inline; margin-right: 30px;}
.span4 {width: 370px; float:left; display: inline; margin-right: 30px;}
.span5 {width: 470px; float:left; display: inline; margin-right: 30px;}
.span6 {width: 570px; float:left; display: inline; margin-right: 30px;}
.span7 {width: 670px; float:left; display: inline; margin-right: 30px;}
.span8 {width: 770px; float:left; display: inline; margin-right: 30px;}
.span9 {width: 870px; float:left; display: inline; margin-right: 30px;}
.span10{width: 970px; float:left; display: inline; margin-right: 30px;}
.span11{width: 1070px; float:left; display: inline; margin-right: 30px;}
.span12{width: 1170px; float:left; display: inline; margin-right: 30px;}


.span-half{width: 50%; float: left;}
.span-quarter{width: 25%;float: left;}

/* Last column in row without margin */
.span1:last-child, .span-lg-1:last-child{margin-right: 0}
.span2:last-child, .span-lg-2:last-child{margin-right: 0}
.span3:last-child, .span-lg-3:last-child{margin-right: 0}
.span4:last-child, .span-lg-4:last-child{margin-right: 0}
.span5:last-child, .span-lg-5:last-child{margin-right: 0}
.span6:last-child, .span-lg-6:last-child{margin-right: 0}
.span7:last-child, .span-lg-7:last-child{margin-right: 0}
.span8:last-child, .span-lg-8:last-child{margin-right: 0}
.span9:last-child, .span-lg-9:last-child{margin-right: 0}
.span10:last-child, .span-lg-10:last-child{margin-right: 0}
.span11:last-child, .span-lg-11:last-child{margin-right: 0}
.span12:last-child, .span-lg-12:last-child{margin-right: 0}

/* Offset styles */
.span-offset1 {margin-left: 100px;}
.span-offset2 {margin-left: 200px;}
.span-offset3 {margin-left: 300px;}
.span-offset4 {margin-left: 400px;}
.span-offset5 {margin-left: 500px;}
.span-offset6 {margin-left: 600px;}
.span-offset7 {margin-left: 700px;}
.span-offset8 {margin-left: 800px;}
.span-offset9 {margin-left: 900px;}
.span-offset10{margin-left: 1000px;}
.span-offset11{margin-left: 1100px;}
.span-offset12{margin-left: 1170px;}
/*
.span1 {width: 8.33%; float:left; display: inline; padding-right: 30px;}
.span2 {width: 16.66%; float:left; display: inline; padding-right: 30px;}
.span3 {width: 25%; float:left; display: inline; padding-right: 30px;}
.span4 {width: 33.33%; float:left; display: inline; padding-right: 30px;}
.span5 {width: 41.66%; float:left; display: inline; padding-right: 30px;}
.span6 {width: 50%; float:left; display: inline; padding-right: 30px;}
.span7 {width: 58.33%; float:left; display: inline; padding-right: 30px;}
.span8 {width: 66.66%; float:left; display: inline; padding-right: 30px;}
.span9 {width: 75%; float:left; display: inline; padding-right: 30px;}
.span10{width: 83.33%; float:left; display: inline; padding-right: 30px;}
.span11{width: 91.66%; float:left; display: inline; padding-right: 30px;}
.span12{width: 100%; float:left; display: inline; padding-right: 30px;}

.span-offset1 {margin-left: 8.33%}
.span-offset2 {margin-left: 16.66%}
.span-offset3 {margin-left: 25%;} 
.span-offset4 {margin-left: 33.33%}
.span-offset5 {margin-left: 41.66%}
.span-offset6 {margin-left: 50%;} 
.span-offset7 {margin-left: 58.33%}
.span-offset8 {margin-left: 66.66%}
.span-offset9 {margin-left: 75%;} 
.span-offset10{margin-left: 83.33%;}
.span-offset11{margin-left: 91.66%;}
.span-offset12{margin-left: 100%;}*/
/* Media queries */
/*
@media screen and (max-width: 1170px){
	.container{width: 940px;}
	.span-lg-1 {width: 60px; float:left; display: inline; margin-right: 20px;}
	.span-lg-2 {width: 140px; float:left; display: inline; margin-right: 20px;}
	.span-lg-3 {width: 220px; float:left; display: inline; margin-right: 20px;}
	.span-lg-4 {width: 300px; float:left; display: inline; margin-right: 20px;}
	.span-lg-5 {width: 380px; float:left; display: inline; margin-right: 20px;}
	.span-lg-6 {width: 460px; float:left; display: inline; margin-right: 20px;}
	.span-lg-7 {width: 540px; float:left; display: inline; margin-right: 20px;}
	.span-lg-8 {width: 620px; float:left; display: inline; margin-right: 20px;}
	.span-lg-9 {width: 700px; float:left; display: inline; margin-right: 20px;}
	.span-lg-10{width: 780px; float:left; display: inline; margin-right: 20px;}
	.span-lg-11{width: 860px; float:left; display: inline; margin-right: 20px;}
	.span-lg-12{width: 940px; float:left; display: inline; margin-right: 20px;}

	.span-offset1 {margin-left: 80px;}
	.span-offset2 {margin-left: 160px;}
	.span-offset3 {margin-left: 240px;}
	.span-offset4 {margin-left: 320px;}
	.span-offset5 {margin-left: 400px;}
	.span-offset6 {margin-left: 480px;}
	.span-offset7 {margin-left: 560px;}
	.span-offset8 {margin-left: 640px;}
	.span-offset9 {margin-left: 720px;}
	.span-offset10{margin-left: 800px;}
	.span-offset11{margin-left: 880px;}
	.span-offset12{margin-left: 940px;}

	.span-lg-6:nth-child(2n){margin-right: 0}

	.span-lg-half{width: 50%; float: left;}
}
@media screen and (max-width: 1024px){
	.container{width: 900px;}
}
@media screen and (max-width: 768px){
	.container{width: 700px;}
}
@media screen and (max-width: 480px){
	.container{width: 100%;}
}
@media screen and (max-width: 320px){
	.container{width: 100%;}
}
