/* MUSTHEAD styles */

.musthead{
	height: 750px;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.header{
	line-height: 27px;
}

.header-content{
	width: 1170px;
	margin:  0 auto;
	padding: 40px 0;
	border-bottom: 1px solid rgba(255,255,255,.15);
}

nav{
	float: right;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 60px;
	font-size: 13px;
}

.musthead-content{
	margin-top: 155px;
}

.musthead-content h1{
	font-size: 65px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.musthead-content p{
	font-size: 22px;
	color: #fff;
	margin-bottom: 100px;
}

.musthead-content .button{
	color:#fff;
	padding: 18px 55px;
	background: #e84545;
	text-decoration: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.nav-toggle{
	display: none;
}

@media screen and (max-width: 1170px){
	.header-content{width: 90%;}
}
@media screen and (max-width: 940px){
	.navigation{
		visibility: hidden;
		position: fixed;
	    background-color: #000;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 99999;
	}
	.navigation ul{
		position: relative;
    	top: 45%;
	}
	.navigation ul li{
		display: block;
		margin-bottom: 20px;
		float: none;
		text-align: center;
	}
	.navigation ul li a{
		font-size: 2em;
		font-weight: bold;
	}
	.nav-toggle{
		display: inline-block;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		z-index: 99999;
		overflow: hidden;
    	position: fixed;
    	right: 5%;
	}
	.navigation.open{
		visibility: visible;
		opacity: 0.9;
	}
}
/*
@media screen and (max-width: 940px){
	.header-content{width: 90%;}
	.navigation{
		visibility: hidden;
		position: fixed;
	    background-color: #000;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 99999;
	}
	.navigation ul{
		position: relative;
    	top: 45%;
	}
	.navigation ul li{
		display: block;
		margin-bottom: 20px;
		float: none;
		text-align: center;
	}
	.navigation ul li a{
		font-size: 2em;
		font-weight: bold;
	}
	.navigation.open{
		visibility: visible;
		opacity: 0.9;
	}
	.nav-toggle {
		display: inline-block;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		z-index: 99999;
		overflow: hidden;
    	position: fixed;
    	right: 5%;
	}
}